@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @import '~remixicon/fonts/remixicon.css';

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
      --own-background:  210 40% 96%;
      --own-foreground: 227 47% 11%;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
      --own-background: 227 47% 11%;
      --own-foreground: 210 40% 96%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }


  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
  }
  
  body {
    background-color:var(--background);
    width: 100%;
    height: auto;
  }
  
  .main {
    background-color:var(--background);
    color: var(--foreground);
    position: relative; /* Ensure the main container is positioned relative for its children to be positioned absolute */
    width: 100%;
    z-index: 0; /* Correct the z-index */
    height: 100vh; /* Make sure the hero section takes full viewport height */
  }
  @media (max-width:800px){
    .main{
      display:  block;
    }
  }
  
  .corner-img-left,
  .corner-img-right,
  .corner-img-bottom-left,
  .corner-img-bottom-right,
  .center-svg,
  .tech-image {
    position: absolute;
    /* width: 400px; */
  }
  @media (max-width: 800px){
    .corner-img-left,
  .corner-img-right,
  .corner-img-bottom-left,
  .corner-img-bottom-right,
  .center-svg {
  display: none;
  }
  }
  
  .corner-img-left {
    top: 0;
    left: 0;
  }
  
  .corner-img-right {
    top: 0;
    right: 0;
  }
  
  .corner-img-bottom-left {
    bottom: 0;
    left: 0;
  }
  
  .corner-img-bottom-right {
    bottom: 0;
    right: 0;
  }
  
  .center-svg {
    top: 60%;
    left: 10%;
    right: 10%;
    transform: translate(-50%, -50%);
  }
  
  .tech-image {
    width: 30rem;
    height: auto;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
  }
  
  /* If you want specific transformations for the rotated images, keep them */
  .rotated-image-1 {
    transform: rotateY(180deg);
  }
  
  .rotated-image-2 {
    transform: rotateY(180deg) rotateX(180deg);
  }
  
  .rotated-image-3 {
    transform: rotateX(180deg);
  }
  
  .navbar {
    /* position: absolute;  */
    z-index: 1; /* Ensure navbar is on top of other elements */
    width: 100%;
    /* margin-top: 2rem; */
    background-color: var(--background);
    color: var(--foreground);
    /* background: none; */
    /* padding: 20px; */
  }
  
  .hero-text {
    position: absolute;
    top: 55%;
    left: 25%;
    margin-left: 3rem;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--foreground); /* Change this to the desired text color */ /* Ensure no background is set */
    padding: 10px; /* Add some padding for better readability */
    max-width: 50%;
    /* text-align: justify; */
    /* Limit the width for better layout */
    z-index: 1; /* Ensure hero text is on top of other elements */
  }
  
  .hero-text h1 {
    text-align: justify;
    font-size: 2.5rem; /* Adjust font size as needed */
    font-weight: 800;
    color: var(--foreground);
  }
  blue-txt {
    color: blue;
  }
  
  .hero-text p {
    text-align: justify;
    /* max-width: 400px; */
    color: var(--foreground);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0;
    font-size: 0.8rem; /* Adjust font size as needed */
  }
  .test {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust gap as needed */
  }
  
  
  
  .scroll-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
  }
  
  /* styles.css */
  .cheap-txt {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 4rem;
    color: var(--foreground);
  
  }
  
  .cheap-txt h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    word-spacing: 0.6rem; /* Add spacing between words */
    margin-bottom: 1rem;
    
  }
  .cheap-txt p {
    text-align: justify;
  }
  
  .why-choose {
    /* margin-left: 3rem; */
    /* margin-right: 3rem; */
    margin-top: 3rem;
  }
  .why-choose h1 {
    text-align: center;
    word-spacing: 1.5rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 500;
  }
  .why-choose p {
    text-align: center;
    color: var(--foreground);
    font-size: 1.5rem;
  }
  
  .card-choose {
    margin-top: 4rem;
  }
  
  .card-icon {
    font-size: 4rem;
    color: blue;
  }
 